/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated:  2010-09-17
Author:  Richard Clark - http: //richclarkdesign.com
Twitter:  @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration:  line-through;
}

abbr[title], dfn[title] {
    cursor: help;
}

table {
	border: 0;
	border-collapse: collapse;
    border-spacing: 0;
}

input, select {
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, th {
	font-weight: bold;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on August 10, 2011 04:36:49 PM America/New_York */



@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on August 9, 2011 04:41:08 PM America/New_York */

@font-face {
    font-family: 'DroidSansBold';
    src: url('../fonts/DroidSans-Bold-webfont.eot');
    src: url('../fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSans-Bold-webfont.woff') format('woff'),
         url('../fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

.gsc-control-cse {
font-family: Arial, sans-serif;
border-color: #FFFFFF;
background-color: #FFFFFF;
}
.gsc-tabHeader.gsc-tabhInactive {
border-color: #E9E9E9;
background-color: #E9E9E9;
}
.gsc-tabHeader.gsc-tabhActive {
border-top-color: #FF9900;
border-left-color: #E9E9E9;
border-right-color: #E9E9E9;
background-color: #FFFFFF;
}
.gsc-tabsArea {
border-color: #E9E9E9;
}
.gsc-webResult.gsc-result,
.gsc-results .gsc-imageResult {
border-color: #FFFFFF;
background-color: #FFFFFF;
}
.gsc-webResult.gsc-result:hover,
.gsc-imageResult:hover {
border-color: #FFFFFF;
background-color: #FFFFFF;
}
.gs-webResult.gs-result a.gs-title:link,
.gs-webResult.gs-result a.gs-title:link b,
.gs-imageResult a.gs-title:link,
.gs-imageResult a.gs-title:link b {
color: #c73dff;
}
.gs-webResult.gs-result a.gs-title:visited,
.gs-webResult.gs-result a.gs-title:visited b,
.gs-imageResult a.gs-title:visited,
.gs-imageResult a.gs-title:visited b {
color: #831aad;
}
.gs-webResult.gs-result a.gs-title:hover,
.gs-webResult.gs-result a.gs-title:hover b,
.gs-imageResult a.gs-title:hover,
.gs-imageResult a.gs-title:hover b {
color: #c73dff;
}
.gs-webResult.gs-result a.gs-title:active,
.gs-webResult.gs-result a.gs-title:active b,
.gs-imageResult a.gs-title:active,
.gs-imageResult a.gs-title:active b {
color: #c73dff;
}
.gsc-cursor-page {
color: #c73dff;
}
a.gsc-trailing-more-results:link {
color: #c73dff;
}
.gs-webResult .gs-snippet,
.gs-imageResult .gs-snippet {
color: #444444;
}
.gs-webResult div.gs-visibleUrl,
.gs-imageResult div.gs-visibleUrl {
color: #666666;
}
.gs-webResult div.gs-visibleUrl-short {
color: #666666;
}
.gs-webResult div.gs-visibleUrl-short {
display: none;
}
.gs-webResult div.gs-visibleUrl-long {
display: block;
}
.gsc-cursor-box {
border-color: #FFFFFF;
}
.gsc-results .gsc-cursor-box .gsc-cursor-page {
border-color: #E9E9E9;
background-color: #FFFFFF;
color: #c73dff;
}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
border-color: #FF9900;
background-color: #FFFFFF;
color: #831aad;
}
.gs-promotion {
border-color: #336699;
background-color: red !important;
}
.gs-promotion a.gs-title:link,
.gs-promotion a.gs-title:link *,
.gs-promotion .gs-snippet a:link {
color: #0000CC;
}
.gs-promotion a.gs-title:visited,
.gs-promotion a.gs-title:visited *,
.gs-promotion .gs-snippet a:visited {
color: #0000CC;
}
.gs-promotion a.gs-title:hover,
.gs-promotion a.gs-title:hover *,
.gs-promotion .gs-snippet a:hover {
color: #0000CC;
}
.gs-promotion a.gs-title:active,
.gs-promotion a.gs-title:active *,
.gs-promotion .gs-snippet a:active {
color: #0000CC;
}
.gs-promotion .gs-snippet,
.gs-promotion .gs-title .gs-promotion-title-right,
.gs-promotion .gs-title .gs-promotion-title-right *  {
color: #000000;
}
.gs-promotion .gs-visibleUrl,
.gs-promotion .gs-visibleUrl-short {
color: #008000;
}

.gsc-table-result{
	padding: 10px;
}

:focus{
	outline: none;
}

#cse_point{
	background: url(../img/point.png);
	position: absolute;
	left: 50%;
	top: -13px;
	height: 13px;
	width: 26px;
	margin-left: 93px;
}

#cse{
	display: none;
	z-index: 4;
	position: absolute;
	left: 50%;
	top: 65px;
	border: 1px solid #858585;
	width: 400px;
	padding: 15px 15px;
	margin: 0;
	background: white;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

#cse_result{
	width: 400px;
	overflow: auto;
	height: 70%;
}

/* Syntax Highlighting */
/*

Intellij Idea-like styling (c) Vasily Polovnyov <vast@whiteants.net>

*/

pre{
	display: inline !important;
	width: auto;
}

pre code{
	padding: 15px;
	margin-bottom: 20px;
	display: inline-block;
	overflow: auto;
	line-height: 20px;
	font-size: 14px;
}

table pre code{
	margin-bottom: 0;
	padding: 0;
}

pre code{
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-left: 1px solid #C73DFF;
}

pre{
	overflow-x: auto;
}

pre.cli code{
	background-color: #2a2a2a;
	color: #fff;
}

/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

pre code {
  display: block;
  color: #000;
  background: #fff;
}

pre .comment,
pre .template_comment,
pre .diff,
pre .javadoc {
  color: #4d9817;
  font-style: italic;
}

pre .keyword,
pre .css .rule .keyword,
pre .winutils,
pre .javascript .title,
pre .lisp .title,
pre .subst {
  color: #c81587;
}

pre .number,
pre .hexcolor {
  color: #40a070;
}

pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula {
  color: #C73DFF;
}

pre .title,
pre .id {
  color: #900;
  font-weight: bold;
}

pre .javascript .title,
pre .lisp .title,
pre .subst {
  font-weight: normal;
}

pre .class .title,
pre .haskell .label,
pre .tex .command {
  color: #458;
  font-weight: bold;
}

pre .tag,
pre .tag .title,
pre .rules .property,
pre .django .tag .keyword {
  color: #8989e9;
  font-weight: normal;
}

pre .attribute,
pre .variable,
pre .instancevar,
pre .lisp .body {
  color: #9e8445;
}

pre .regexp {
  color: #009926;
}

pre .class {
  color: #458;
  font-weight: bold;
}

pre .symbol,
pre .ruby .symbol .string,
pre .ruby .symbol .keyword,
pre .ruby .symbol .keymethods,
pre .lisp .keyword,
pre .tex .special,
pre .input_number {
  color: #990073;
}

pre .builtin,
pre .built_in,
pre .lisp .title {
  color: #0086b3;
}

pre .preprocessor,
pre .pi,
pre .doctype,
pre .shebang,
pre .cdata {
  color: #999;
  font-weight: bold;
}

pre .deletion {
  background: #fdd;
}

pre .addition {
  background: #dfd;
}

pre .diff .change {
  background: #0086b3;
}

pre .chunk {
  color: #aaa;
}

pre .tex .formula {
  opacity: 0.5;
}

/*
	Main styles
*/

body, html{
	background: #fefefe;
	background: #f3f3f3;
	font-family: "Helvetica Neue", Helvetica, Arial;
	padding: 0px;
	margin: 0px;
	color: #6f6f6f;
	color: #5c5c5c;
	line-height: 24px;
	font-size: 14px;
	position: relative;
}

html{
	overflow-y: scroll;
}

.clear{
	clear: both;
}

.pane{
	overflow: auto;
}

#header{
	width: 100%;
	background: url(../img/header-bg.jpg) repeat;
	color: #fff;
	border-bottom: 1px solid white;
	display: block;
	text-align: left;
	overflow: visible;
	height: auto;
	text-shadow: 0px 1px 2px #000;
	z-index: 3;
	position: relative;
	top: 0;
	left: 0;
}

#header h1{
	font-weight: normal;
	line-height: 66px;
	font-size: 25px;
	height: 60px;
	padding: 2px 0px 14px 0px;
	color: #e3e3e3;
}

#header h1 img{
	margin: 13px 10px 0px 0px;
	vertical-align: top;
}

#header h1 strong{
	font-weight: normal;
}

#header h1 span{
	font-size: 34px;
	margin-right: 10px;
}

#header nav{
	width: 100%;
	display: block;
	background: #2a2a2a url(../img/v-split.png) repeat-x;
	font-size: 14px;
	line-height: 18px;
	position: relative;
}

.toc_part{
	position: absolute;
	top: 0px;
	width: 100%;
	left: 0px;
/*
		left: 50%;
		margin-left: -440px;
*/
}

#header nav a{
	color: #d6d6d6;
	display: block;
	line-height: 20px;
	padding-left: 10px;
}

#header nav a:hover, #header nav a.active{
	color: #fff;
	background: #c73dff;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
}

.table{
	display: table;
	width: 965px;
	margin: auto;
	overflow: hidden;
}

nav .table{
	padding: 15px 0px;
}

.topic{
	font-family: Helvetica Neue, Helvetica, Arial;
	color: #c73dff !important;
	display: block;
	line-height: 20px;
	font-size: 18px;
	height: 20px;
	padding-left: 10px !important;
	position: relative;
	top: -2px;
	background: none;
	padding: 0;
}

ol{
	list-style-position: inside;
	padding-bottom: 20px;
}

.expand_me{
	margin-left: 5px;
	color: #a7a7a7;
}

#header nav a:hover .expand_me{
}

#header nav ul.column{
	display: table-cell;
	width: 20%;
	margin: 20px 0px;
	background: url(../img/h-split.png) repeat-y right -7px;
	padding: 0px 10px 0px 0px;
	margin-left: -10px;
}

#header nav ul.column ul{
	margin-bottom: 0px;
}

#header nav ul.column ul ul{
	display: none;
	padding-left: 0px;
	margin-bottom: 0px;
	font-size: 88%;
	color: #c8c8c8;
}

#header nav ul.column ul ul a{
	color: #c8c8c8;
}

#header nav ul.column ul ul a:hover, #header nav ul.column ul ul a.active{
	color: #fff;
	text-decoration: none;
	background-color: #8235fa;
}

#header nav ul.column li li li{
	padding-left: 10px;
}

.menu_highlight{
	padding: 10px 0px;
	position: relative;
	left: 5px;
}

#header nav ul.last{
	background: none;
}

.highlighted{
	margin-left: -1px;
	margin-right: -1px;
	border-left: 1px solid #c73dff;
	border-right: 1px solid #333333;
	background: #333333;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#toc_handle{
	display: block;
	background: url(../img/handle.png) no-repeat center;
	height: 20px;
	width: 140px;
	position: absolute;
	left: 50%;
	bottom: -20px;
	margin-left: -70px;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	line-height: 18px;
	color: #d1d1d1;
	text-shadow: 0px 1px 2px #000;
	cursor: pointer;
}

#toc_handle:hover{
	color: #fff;
}

#google_search{
	height: 40px;
	padding-top: 8px;
	padding-right: 0px;
	float: right;
	width: 320px;
	overflow: hidden;
	margin-top: -60px;
}

#google_search input{
	display: inline-block;
	float: right;
}

#search_input{
	height: 25px;
	line-height: 25px;
	padding: 0px 5px;
	width: 200px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #c73dff;
	margin: 0;
	border-right: 0;
	background: #f3f3f3;
	color: #5c5c5c;
}

#search_input:focus{
	color: #5c5c5c;
	background: #fff;
}

#search_submit{
	margin: 0;
	height: 27px;
	line-height: 19px;
	padding: 0px 10px 3px 10px;
	width: 70px;
	color: #fff;
	background: #3c3c3c;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #c73dff;
}

#search_clear{
	display: inline-block;
	height: 25px;
	width: 25px;
	background: url(../img/clear.gif) no-repeat center center;
	cursor: pointer;
	float: right;
}

#main{
	margin: auto;
	width: 996px;
	padding: 40px 15px 50px 15px;
}

#main h2 a, #main h3 a, #main h4 a{
	color: #5C5C5C;
}

#main h2, #main h3, #main h4{
	font-family: 'DroidSansBold';
	font-weight: normal !important;
}


#main h2{
	font-size: 30px;
	line-height: 30px;
	padding-bottom: 15px;
	margin-bottom: 10px;
	display: block;
	background: url(../img/v-split.png) repeat-x bottom center;
	padding-top: 10px;
}

#main ul {
	list-style: inside;
	padding-bottom: 24px;
	padding-left: 20px;
	text-indent: -18px;
}

#main ul.toc ul {
	padding-bottom: 0px;
}

#main li{
	padding: 3px 0px;
}

#main h3{
	font-size: 20px;
	padding-bottom: 5px;
	padding-top: 10px;
}

#main h4{
	font-weight: bold;
	font-size: 17px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	text-shadow: 0px 1px 2px #fff;
	padding-top: 10px;
	border-bottom: 1px solid #CCC;
}

#main h5{
	color: #c73dff;
	font-size: 16px;
	padding-bottom: 0px;
	text-shadow: 0px 1px 2px #fff;
	padding-top: 10px;
}

#main h4 .internal_link{
	position: relative;
	top: 2px;
}

#main article p{
	padding-bottom: 15px;
}

#main article{
	margin-bottom: 30px;
	padding-bottom: 20px;
}

#main p{
	padding-bottom: 24px;
}

div .image{
	text-align:center;
	padding-bottom:10px;
}

div .image img{
	-moz-border-radius: 5px;
	border-radius: 5px;
   border-left: 1px solid #C73DFF;
}

a{
	color: #000;
}

a:hover{
	text-decoration: underline;
}

.force_hide{
	display: none !important;
}

footer{
	border-top: 1px solid #C73DFF;
	overflow: visible;
	background: #2a2a2a;
	height: 30px;
	line-height: 30px;
	clear: both;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	display: block;
	z-index: 5;
}

footer p{
	text-indent: 10px;
	color: #fff;
	font-size: 12px;
}

footer a{
	color: #C73DFF;
}

#main table{
	width: auto;
/*	background: #fff;
*/	border: 0;
	text-align: left;
	margin-bottom: 20px;
	clear: both;
}

#main table th{
	width: 100px;
	text-align: left;
}

#main table table th{
/*	font-family: DroidSansBold;
*/	width: auto;
	font-weight: bold;
}

#main table td{
	width: 700px;
}

#main table table td{
	width: auto;
}

#cse table{
	border-collapse: collapse;
}

.gsc-adBlockNoHeight{
	display: none;
}

#main table table{
	border: 0;
	margin: 0px;
	width: auto;
}

#main table code{
	padding-left: 10px;
}

table pre code {
	display: block;
	overflow: auto;
	padding: 5px;
}

table.parameters code,
table.parameters pre code {
	margin-bottom: 0;
	border: 0;
	padding: 0px !important;
	width: auto;
	background: transparent;
}

table table th{
	text-align: left;
/*	background: #fff !important;
*/	text-shadow: none;
}

li blockquote {
	display:inline;
	border: 1px solid #999999;
	padding: 4px;
}

p code, li blockquote code {
	background: #999;
	padding: 3px 5px 3px 5px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #FFF;
	text-shadow: 0px 1px 2px #777;
}

#main th, #main td{
	padding: 5px;
}

#main table table th,
#main table table td{
	border: 0;
	padding: 0px 5px 0px 5px;
}

#main table table th{
	text-shadow: none;
	color: #2A2A2A;
}

#main table.parameters tr:first-child th {
	color: #999;
}

strong, kbd, th{
/*	font-family: 'DroidSansBold';
*/	font-weight: bold;
}

.internal_link{
	margin-left: 2px;
	position: relative;
	top: -2px;
}

table table{
	table-layout: fixed;
}

#main table pre, #main table code{
	max-width: 700px;
	display: block;
	overflow: auto;
}

@media screen and (max-width: 870px) {
	.table{
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}
	#main{
		width: auto;
	}

	#main table td{
		width: auto;
	}
	#main table code, #main table pre{
		white-space: pre-wrap;
	}
}

@media screen and (max-width: 560px) {
	#google_search{
		display: none !important;
	}
	footer{
		position: relative;
		bottom: -30px;
	}
}

#main th{
	text-align: right;
	color: #333;
	font-weight: bold;
	font-size: 14px;
	text-shadow: 0px 1px 2px #DDD;
}

#main table table th{
	text-align: left;
}

#methods{
	width: 200px;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
}

#method_list{
	right: 5px;
	position: absolute;
	bottom: 30px;
	display: none;
	overflow: visible;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	background: #fff;
	border: 1px solid #c73dff;
	border-bottom: 0px;
	padding-bottom: 8px;
	padding-right: 10px;
	background: #2a2a2a;

}

#method_list a{
	padding: 0px 3px;
	display: block;
	margin: 5px 0px 0px 5px;
	font-size: 12px;
	line-height: 15px;
	color: #fff;
	position: relative;
	top: 3px;
}

#methods_handle{
	padding: 0px 7px;
	display: inline-block;
	margin: 5px 10px 0px 5px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	color: #fff;
	text-align: right;
	float: right;
}

#methods_handle:hover{
	background: #3c3c3c;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
}

nav .pane_picker{
	padding: 10px 0px 0px 0px !important;
}

nav .table #pane_picker li{
	display: block;
	float: left;
	padding: 0px 5px;
	margin: 0px 5px;
	cursor: pointer;
	font-size: 17px;
	position: relative;
	left: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	line-height: 25px;
	height: 25px;
	color: #A7A7A7;
}

nav .table #pane_picker li:hover{
	background-color: #c73dff;
	color: #fff;
}

nav .table #pane_picker li.active{
	color: #fff;
	background-color: #8235fa !important;
}

nav .pane_picker{
	padding: 10px 0px 0px 0px !important;
}

nav .table #pane_picker li{
	display: block;
	float: left;
	padding: 0px 5px;
	margin: 0px 5px;
	cursor: pointer;
	font-size: 17px;
	position: relative;
	left: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	line-height: 25px;
	height: 25px;
	color: #A7A7A7;
}

nav .table #pane_picker li:hover{
	background-color: #c73dff;
	color: #fff;
}

nav .table #pane_picker li.active{
	color: #fff;
	background-color: #8235fa !important;
}

table.config pre{
	width: auto !important;
	max-width: 350px !important;
}

#main table.config th{
	text-align: left !important;
}

p.note{
	padding: 15px;
	padding-bottom: 15px !important;
	margin-bottom: 14px;
	background: #FEFCAF;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 2px 10px #988b55;
     -moz-box-shadow: inset 0px 2px 10px #988b55;
          box-shadow: inset 0px 2px 10px #988b55;
}
